/*=======================GLOBAL=====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  font-size: 62.5%;
  /* 1rem = 10px*/

  --primary_color_green_200: hsl(148, 38%, 91%);
  --primary_color_green_600: hsl(169, 82%, 27%);
  --primary_color_red: hsl(0, 66%, 54%);
  --neutral_color_white: hsl(0, 0%, 100%);
  --neutral_color_grey: hsl(186, 15%, 59%);
  --neutral_color_grey: hsl(187, 24%, 22%);

  /*FONT
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.karla-<uniquifier> {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

}

body {
  width: 100%;
  height: 97rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_color_green_200);

}

/*=======================WRAPPER=====================*/
.wrapper {
  width: min(37.5rem, 100%);
  padding: 1.25rem;
}


/*=======================FORMCONTENT=====================*/

.wrapper .formContent {
  width: 35rem;
  padding: 2rem;
  background-color: var(--neutral_color_white);
  border-radius: 1.5rem;
}

.formContent .formContactUs{
  width: 100%;
  text-align: start;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  color: var(--neutral_color_grey);
  margin-bottom: 2rem;
}

.formContent p {
  font-size: 1.6rem;
  text-align: start;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary_color_green_600);
  margin-block: 1.5rem;
}

/*=======================NAMEFIELD=====================*/

.formContent .nameField input {
  width: 100%;
  height: 4.5rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--neutral_color_grey);
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nameField input:focus{
  outline: solid 1px var(--primary_color_green_600);

}

/*=======================INPUT-EMAIL=====================*/
.formContent input[type="email"] {
  width: 100%;
  height: 4.5rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--neutral_color_grey);  
  cursor: pointer;
}

.formContent input[type="email"]:focus{
  outline: solid 1px var(--primary_color_green_600);
}

/*=======================RADIOFIELD=====================*/
.formContent .radioField .radioBox {
  width: 100%;
  height: 4.5rem;
  padding-left: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--neutral_color_grey);  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.radioField .radioBoxChecked{
  background-color: var(--primary_color_green_200);
}

.radioBox input[type="radio"]{
  margin-right: 0.5rem;
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: aqua;
  accent-color: var(--primary_color_green_600);
}

.radioBox label {
  color: var(--neutral_color_grey);
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  cursor: pointer;

}



/*=======================INPUTMESSAGE=====================*/

.wrapper .formContent .inputMessage {
  width: 100%;
  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--neutral_color_grey);  resize: none;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
  
}

.wrapper .formContent .inputMessage:focus{
  outline: solid 1px var(--primary_color_green_600);
}


/*=======================CHECKTERM=====================*/
.formContent .checkTerm {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-block: 1rem;
}

.formContent .checkTerm input {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  appearance: none;
  border: 0.1px black solid;

}

.formContent .checkTerm input[type="checkbox"]:checked{
  background: url(/assets/images/icon-checkbox-check.svg) no-repeat;
}


.checkTerm label {
  font-size: 1.6rem;
  color: var(--neutral_color_grey);
  cursor: pointer;
  width: 22rem;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}


/*=======================BUTTON=====================*/
.formContent button {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--neutral_color_white);
  background-color: var(--primary_color_green_600);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.formContent button:hover{
  background-color: var(--neutral_color_grey);

}

/*=======================ERRORS=====================*/
#nameBorderError1{
  border: 1px solid var(--primary_color_red);

}

#nameBorderError2{
  border: 1px solid var(--primary_color_red);

}

#emailBorderError{
  border: 1px solid var(--primary_color_red);

}

#messsageBorderError{
  border: 1px solid var(--primary_color_red);

}


span{
  display: block;
  font-size: 1.4rem;
  color: red;
  margin-top: 1rem;
  text-align: start;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: none;
  
}


/*=======================RESPONSIVITY=====================*/
@media(max-width:360px){
  /*=======================WAPPER=====================*/
  
  .wrapper {
    width: min(36rem, 100%);
  }
  
  /*=======================FORMCONTENT=====================*/
  
  .wrapper .formContent {
    width: 33rem;
  }
  
}
  


@media(min-width:768px){

/*=======================BODY=====================*/
body {
  height: 90rem;
}

/*=======================WAPPER=====================*/

.wrapper {
  width: min(76.8rem, 100%);
}

/*=======================FORMCONTENT=====================*/

.wrapper .formContent {
  width: 74rem;
}

/*=======================NAMEFIELD=====================*/

.formContent .nameField{
display: flex;
justify-content: space-between;
}

.formContent .nameField input {
  width: 34.5rem;
}

/*=======================RADIOFIELD=====================*/
.formContent .radioField{
  display: flex;
  justify-content: space-between;
}

.formContent .radioField .radioBox {
  width: 34.5rem;
}

/*=======================INPUTMESSAGE=====================*/

.wrapper .formContent .inputMessage {
  width: 100%;
  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--neutral_color_grey);  resize: none;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
  
}

.checkTerm label {
  font-size: 1.7rem;
  width: 35rem;


}

}
